@import '/css/reset.css';

.container {
    width: 100vw;
    height: 100vh;    
    display: flex;
    /* background-color: blue; */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 14vh;
}

header > h1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}

img {
    margin-left: 5%;
}