@import '/css/reset.css';

.container {
    display: flex;
    justify-content: end;
}

nav {
    width: 50vw;
    height: 14vh;
    display: flex;
    align-items: flex-end;
} 

nav > ul {
    display: flex;
}