@import "/css/reset.css";

.container {
    justify-content: end;
}

nav {
    width: 50vw;
    height: 14vh;
    display: flex;
    margin-right: 5%;
}

nav > ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 2%;
    padding: 30%;
    font-family: var(--font-orbitron);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-blue);
}
