@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-rubik: 'Rubik', sans-serif;
    --font-orbitron: 'Orbitron',  sans-serif;

    --color-purple: #a38cc5;
    --color-green: #21ffcc;
    --color-blue: #5bc2ca;
    --color-black: #000000;
}

html, body, a, div, h1, h2, h3, h4, h5, h6, section, ul, li, p, main, button, img, aside {
    font-family: var(--font-rubik);
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    text-decoration: none;    
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;    
    cursor: pointer;
    background: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-orbitron);
    font-weight: bolder;
}

.container {
    width: 100vw;
    height: 100vh;    
    display: flex;
}

.section-main {
    background: linear-gradient(
        90deg,
        var(--color-blue) 0%,
        var(--color-purple) 30%
    );
    width: 100vw;
    height: 90vh;
    display: flex;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    font-family: var(--font-orbitron);
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bolder;    
    color: var(--color-purple);
    padding: 10px;
}

